.separate {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.separate > div {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 40px;
}

.navBarSpacing {
    margin-bottom: 100px;
}