.fullDashboardPage {
    background-image: url('../assets/yellowOrangeBackground.png');
    background-size: cover;
    /* background-position: center;
    background-repeat: no-repeat;
    height: 100vh; */
}

.separate {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.separate > div {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 40px;
}

.navBarSpacing {
    margin-bottom: 100px;
}

.yourReceipts {
    padding-top: 110px;
    font-size: 30px
}