.navBar {
    display: flex;
    flex-direction: row;
    height: 80px;
    /* background-color: white; */
    /* margin-left: 100px; */
}


/* .me-auto {
    display: flex;
} */

.uploadModal {
    width: 90vw;
    max-width: 90vw;
    min-width: 80vw;
}

.uploadReceiptButton {
    margin-left: 400px;
}

.brand {
    margin-left: 60px;
}