.navBar {
    display: flex;
    flex-direction: row;
    height: 80px;
    /* background-color: white; */
    /* margin-left: 100px; */
}


/* .me-auto {
    display: flex;
} */

.uploadReceiptButton {
    text-transform: uppercase;
}

@media (min-width: 1000px) {
    .uploadReceiptButton {
        margin-left: 500px;
    }
}
.brand {
    margin-left: 60px;
}